<div class="graph-grid">
  <app-extraction-concentration-volume-graph
    [rows]="rows"
    [isLoading]="isLoading">
  </app-extraction-concentration-volume-graph>
  <app-extraction-plant-concentration-trend-graph
    [rows]="rows"
    [isLoading]="isLoading">
  </app-extraction-plant-concentration-trend-graph>
  <app-extraction-plant-volume-graph
    [rows]="rows"
    [isLoading]="isLoading">
  </app-extraction-plant-volume-graph>
  <app-extraction-campaign-weight-graph
    [rows]="rows"
    [isLoading]="isLoading">
  </app-extraction-campaign-weight-graph>
</div>
