<div class="graph-grid">
  <app-extraction-weight-volume-graph
    [rows]="rows"
    [isLoading]="isLoading">
  </app-extraction-weight-volume-graph>
  <app-extraction-plant-concentration-trend-graph
    [rows]="rows"
    [isLoading]="isLoading">
  </app-extraction-plant-concentration-trend-graph>
  <app-extraction-plant-volume-graph
    [rows]="rows"
    [isLoading]="isLoading">
  </app-extraction-plant-volume-graph>
  <app-extraction-campaign-ph-graph
    [rows]="rows"
    [isLoading]="isLoading">
  </app-extraction-campaign-ph-graph>
</div>
